<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Admin - Start Bootstrap Template</title>
    <!-- Bootstrap core CSS-->
    <link href="~/Assets/Admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="~/Assets/Admin/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="~/Assets/Admin/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="~/Assets/Admin/css/sb-admin.css" rel="stylesheet">
</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
    @RenderPage("_LeftMenu.cshtml")
    <div class="content-wrapper">
        @RenderBody()
        <!-- Bootstrap core JavaScript-->
        <script src="~/Assets/Admin/vendor/jquery/jquery.min.js"></script>
        <script src="~/Assets/Admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- Core plugin JavaScript-->
        <script src="~/Assets/Admin/vendor/jquery-easing/jquery.easing.min.js"></script>
        <!-- Page level plugin JavaScript-->
        <script src="~/Assets/Admin/vendor/chart.js/Chart.min.js"></script>
        <script src="~/Assets/Admin/vendor/datatables/jquery.dataTables.js"></script>
        <script src="~/Assets/Admin/vendor/datatables/dataTables.bootstrap4.js"></script>
        <!-- Custom scripts for all pages-->
        <script src="~/Assets/Admin/js/sb-admin.min.js"></script>
        <!-- Custom scripts for this page-->
        <script src="~/Assets/Admin/js/sb-admin-datatables.min.js"></script>
        <script src="j~/Assets/Admin/s/sb-admin-charts.min.js"></script>
    </div>

    @RenderSection("ClientScript", false)
</body>
</html>
